################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BRT/FileContentIndex/2cc69095-40a9-4ce2-b9cf-bb0d31616d4a.vsidx
